@use '../../Style/variables' as *

header 
    background-color: $color-blue
    color: $color-white
    width: 20vw
    height: 100vh
    padding: 2rem
    box-shadow: 5px 1px 10px $color-gray
    position: absolute
    display: flex
    flex-direction: column
    justify-content: space-between

    h1
        font-size: 2rem
        font-weight: 600

    nav 
        display: flex

        ul
            list-style-type: none

            li
                margin: 2rem 0
            
                .header-nav-link
                    color: $color-white
                    text-decoration: none
                    padding: 0.5rem 0
                    transition: all 0.3s ease
                    font-size: 1.1rem

                    &:hover
                        background-color: $color-white
                        color: $color-blue
                        padding: 0.5rem 1rem
                        border-radius: 0.5rem 

    .header-button-link
        color: $color-black
        text-decoration: none
        width: 100%

        button
            background-color: $color-white
            border: none
            padding: 0.5rem 1rem
            border-radius: 0.5rem
            cursor: pointer
            font-size: 1rem
            font-weight: 500
            transition: all 0.3s ease
            width: 100%

            &:hover
                opacity: 0.8
                color: rgb(95, 95, 95)